<div class="container">
  <div class="alert alert-secondary" role="alert">
    Dashboard
  </div>
  <!-- primera linea -->
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card p-3">
        <div class="media">
          <div class="media-left media-middle">
            <span>
              <i class="fa f-s-40 text-primary">L.</i>
            </span>
          </div>
          <div class="media-body media-text-right">
            <h2>{{ 32400 | number:'.2-2' }}</h2>
            <p class="m-b-0">Facturacion del Dia</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card p-3">
        <div class="media">
          <div class="media-left media-middle">
            <span>
              <i class="fa fa-user f-s-40 text-info"></i>
            </span>
          </div>
          <div class="media-body media-text-right">
            <h2>35</h2>
            <p class="m-b-0">Pacientes Atendidos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card p-3">
        <div class="media">
          <div class="media-left media-middle">
            <span>
              <mat-icon class="f-s-40 text-warning">pregnant_woman</mat-icon>
            </span>
          </div>
          <div class="media-body media-text-right">
            <h2>2</h2>
            <p class="m-b-0">Embarazos Proximos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card p-3">
        <div class="media">
          <div class="media-left media-middle">
            <span>
              <mat-icon class="f-s-40 text-danger">pregnant_woman</mat-icon>
            </span>
          </div>
          <div class="media-body media-text-right">
            <h2>0</h2>
            <p class="m-b-0">Embarazos Vencidos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>