
<div class="row">
  <div class="col-sm-3">
    <div class="position-fixed">
    <div class="alert" [class.alert-info]="isNew" [class.alert-warning]="!isNew" role="alert">
      <mat-icon class="align-middle text-primary">person_outline</mat-icon> Configuracion de Pacientes
    </div>
    <div class="panel panel-default">
      <img *ngIf="paciente?.image" src="" alt="{{paciente?.nombre}}" class="profile-image thumbnail">
      <div class="panel-body">
        <div>
          <strong>Nombre:</strong>
          <p>{{paciente?.nombre}}</p>
        </div>
        <div>
          <strong>Fecha Nacimiento:</strong>
          <p>{{paciente?.fechaNacimiento | date:'dd/MM/yyyy'}}</p>
        </div>
        <div>
          <strong>Edad:</strong>
          <p>{{paciente?.edad}}</p>
        </div>
      </div>
      <div class="panel-footer">
        <div class="btn-group-justified text-center">
          <div class="btn-group">
            <button class="btn btn-primary">
              <i class="fa fa-floppy-o"></i> Guardar</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-danger" [routerLink]="['/pacientes']" type="button">
              <i class="fa fa-times-circle"></i> Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Informacion General">
          <div class="page-container">
            <ng-container>
              <mat-form-field>
                <input matInput placeholder="Codigo" [(ngModel)]="paciente.id" name="id" #id="ngModel" readonly>
              </mat-form-field>
            </ng-container>
            <mat-form-field>
              <input matInput placeholder="Nombre Completo" [(ngModel)]="paciente.nombre" name="nombre" #nombre="ngModel">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Numero Identidad" [(ngModel)]="paciente.numeroIdentidad" name="numeroIdentidad" #numeroIdentidad="ngModel">
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Direccion" [(ngModel)]="paciente.direccion" name="direccion" #direccion="ngModel"></textarea>
            </mat-form-field>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput (dateChange)="dateChanged($event)" [matDatepicker]="fechaNacimiento" placeholder="Fecha de Nacimiento" [(ngModel)]="paciente.fechaNacimiento">
                  <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                  <mat-datepicker #fechaNacimiento></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input matInput placeholder="Anos" [(ngModel)]="paciente.edad" readonly>
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <mat-form-field>
                  <input matInput placeholder="Meses" [(ngModel)]="paciente.meses" readonly>
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <mat-form-field>
                  <input matInput placeholder="Dias" [(ngModel)]="paciente.dias" readonly>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput [matDatepicker]="fechaUltMenstruacion" placeholder="Ult. Menstruacion" [(ngModel)]="paciente.fechaUltMenstruacion">
                  <mat-datepicker-toggle matSuffix [for]="fechaUltMenstruacion"></mat-datepicker-toggle>
                  <mat-datepicker #fechaUltMenstruacion></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <mat-select placeholder="Estado Civil" [(ngModel)]="paciente.estadoCivil">
                <mat-option *ngFor="let ec of estadoCivil" [value]="ec.value">
                  {{ ec.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field>
                  <input matInput placeholder="Numero Telefono" [(ngModel)]="paciente.telefono" name="telefono" #telefono="ngModel">
                </mat-form-field>
              </div>
              <div class="col-sm-8">
                <mat-form-field>
                  <input matInput placeholder="Correo" [(ngModel)]="paciente.correo" name="correo" #correo="ngModel">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                      <mat-select placeholder="Seguro Medico?" [(ngModel)]="paciente.hasSeguroMedico" name="hasSeguroMedico" #hasSeguroMedico="ngModel">
                        <mat-option *ngFor="let sm of siNo" [value]="sm.value">
                          {{ sm.descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-8">
                  <mat-form-field *ngIf="paciente.hasSeguroMedico">
                    <mat-select placeholder="Aseguradora" [(ngModel)]="paciente.aseguradoraId" name="aseguradoraId" #aseguradoraId="ngModel">
                      <mat-option>Ninguno</mat-option>
                      <mat-option *ngFor="let aseguradora of aseguradoras" [value]="aseguradora.id">
                        {{ aseguradora.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field>
                <mat-select placeholder="Ocupacion Paciente" [(ngModel)]="paciente.ocupacionId" name="ocupacionId" #ocupacionId="ngModel">
                  <mat-option>Ninguno</mat-option>
                  <mat-option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.id">
                    {{ ocupacion.descripcion }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="row">
                  <div class="col-sm-6">
                      <mat-form-field>
                        <input matInput placeholder="Nombre Conyugue" [(ngModel)]="paciente.nombreConyugue" name="nombreConyugue" #nombreConyugue="ngModel">
                      </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                      <mat-form-field>
                          <mat-select placeholder="Ocupacion Conyugue" [(ngModel)]="paciente.ocupacionIdConyugue" name="ocupacionIdConyugue" #ocupacionIdConyugue="ngModel">
                            <mat-option>Ninguno</mat-option>
                            <mat-option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.id">
                              {{ ocupacion.descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Religion" [(ngModel)]="paciente.religionId" name="religionId" #religionId="ngModel">
                              <mat-option>Ninguno</mat-option>
                              <mat-option *ngFor="let religion of religiones" [value]="religion.id">
                                {{ religion.descripcion }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Grupo Sanguineo" [(ngModel)]="paciente.grupoSanguineoId" name="grupoSanguineoId" #grupoSanguineoId="ngModel">
                              <mat-option>Ninguno</mat-option>
                              <mat-option *ngFor="let gs of gruposSanguineos" [value]="gs.id">
                                {{ gs.descripcion }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </div>
          </div>
        </tab>
        <tab heading="Antec. Gine-Obs">
          <h1>Description</h1>
        </tab>
        <tab heading="Antecedentes">
          <p>messages</p>
        </tab>
        <tab heading="Vacunas">
          <p>vacunas</p>
        </tab>
      </tabset>
    </div>

  </div>
</div>