<form #f="ngForm">
  <div class="alert alert-warning">
    <h3> Editar aseguradora</h3>
  </div>
  <div class="page-container mat-elevation-z4">
    <ng-container>
      <mat-form-field>
        <input matInput placeholder="Codigo" [ngModel]="aseguradora.id" name="id" #id="ngModel" readonly>
      </mat-form-field>
    </ng-container>
    <mat-form-field>
      <input matInput placeholder="Nombre" [ngModel]="aseguradora.nombre" name="nombre" #nombre="ngModel">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Direccion" [ngModel]="aseguradora.direccion" name="direccion" #direccion="ngModel"></textarea>
    </mat-form-field>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <input matInput placeholder="Correo" [ngModel]="aseguradora.correo" name="correo" #correo="ngModel">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <input matInput placeholder="Contacto" [ngModel]="aseguradora.contacto" name="contacto" #contacto="ngModel">
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <input matInput placeholder="Telefono Fijo" [ngModel]="aseguradora.telefonoFijo" name="telefonoFijo" #telefonoFijo="ngModel">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <input matInput placeholder="Fax" [ngModel]="aseguradora.fax" name="fax" #fax="ngModel">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <input matInput placeholder="Telefono Movil" [ngModel]="aseguradora.telefonoMovil" name="telefonoMovil" #telefonoMovil="ngModel">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <input matInput placeholder="Fecha Creacion" [ngModel]="aseguradora.fechaCreacion" name="fechaCreacion" #fechaCreacion="ngModel"
            readonly>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <input matInput placeholder="Usuario Creacion" [ngModel]="aseguradora.usuarioCreacion" name="usuarioCreacion" #usuarioCreacion="ngModel"
            readonly>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="button-row">
    <button type="button" mat-mini-fab class="bg-success text-white" matTooltip="Guardar" [matDialogClose]="f.value">
      <mat-icon>save</mat-icon>
    </button>
    <button type="button" mat-mini-fab class="bg-danger text-white" matTooltip="Cancelar" matDialogClose>
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</form>