/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootswatch/dist/journal/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

html,
body {
  height: 100%;
}

.fa-danger {
  color: #F57A00;
}

.panel-body, .panel-heading {
  padding: 3px !important;
}

.panel {
  border-radius: 0 !important;
}

.mat-form-field {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  min-width: 500px;;
}

.mat-row {
  min-height: 24px !important;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 10px;
}

.button-row {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-row button {
  margin-left: 10px;
}

input:-moz-read-only { /* For Firefox */
  color: #c2c2c2;
}

input:read-only { 
  color: #c2c2c2;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-column-actions {
  flex: 0 0 100px !important;
}

.mat-column-id {
  flex: 0 0 70px !important;
}

.mat-column-usuarioCreacion {
  flex: 0 0 120px !important;
}

.mat-column-usuarioModificacion {
  flex: 0 0 120px !important;
}

.mat-column-fechaCreacion {
  flex: 0 0 150px !important;
}

.mat-column-fechaModificacion {
  flex: 0 0 150px !important;
}

.mat-column-descripcion {
  min-width: 200px;
  flex-basis: auto; /* default value */
  flex-grow: 1;
}

.tab-panel {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #e95420;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 10px;
}