
<mat-drawer-container fullscreen>
  <mat-drawer class="gine-drawer" #drawer mode="push">
    <div class="card text-white bg-info mb-1" style="max-width: 20rem; border-radius: 0;">
      <div class="card-header" >Informacion de Usuario</div>
      <div class="card-body">
        <h4 class="card-title">Usuario: {{ infoUsuario.unique_name }}</h4>
        <p class="card-text mb-1">Nombre: {{ infoUsuario.nombreUsuario }} </p>
        <p class="card-text mb-1">Es Doctor: {{ infoUsuario.isDoctor == 'True' ? 'Si' : 'No' }}</p>        
        <p class="card-text mb-1">Es Administrador: {{ infoUsuario.isAdmin == 'True' ? 'Si' : 'No' }} </p>
      </div>
    </div>
    <app-menu></app-menu>
  </mat-drawer>
  <ng-content></ng-content>
  <button type="button" class="btn btn-sm btn-info menu-button" (click)="drawer.toggle()"><i class="fa fa-bars"></i></button>
</mat-drawer-container>