<mat-drawer-container fullscreen>
  <mat-drawer class="gine-drawer" #drawer mode="push">
    <div class="gine-card card bg-info">
      <div class="card-header text-center mb-4" style="height: 50px;">
        <div class="user-thumbnail">
            <img class="card-img-top" src="{{ infoUsuario?.photoUrl }}">
        </div>
      </div>
      <div class="card-body text-white p-2">
        <h5 class="card-title text-center"><mat-icon class="bg-white text-success align-bottom user-icon text-center">person</mat-icon> {{ infoUsuario?.nombreUsuario }}</h5>
        <p class="card-text mb-0" *ngIf="infoUsuario?.isDoctor == 'True'">Role: Doctor</p>
        <p class="card-text mb-0" *ngIf="infoUsuario?.isAdmin == 'True'">Role: Administrador</p>
      </div>
    </div>
    <app-menu></app-menu>
  </mat-drawer>
  <ng-content></ng-content>
  <button type="button" class="btn btn-sm btn-info fixed-top menu-button" (click)="drawer.toggle()"><i class="fa fa-bars"></i></button>
</mat-drawer-container>