
<mat-drawer-container fullscreen>
  <mat-drawer class="gine-drawer" #drawer mode="push">
    <div class="card text-white bg-info mb-0" style="max-width: 20rem; border-radius: 0;">
      <div class="card-header" >Informacion de Usuario</div>
      <div class="card-body p-2">
        <table>
          <tr>
            <td><h5 class="card-title">Usuario:</h5></td>
            <td><span class="badge badge-secondary">{{ infoUsuario?.unique_name }}</span></td>
          </tr>
          <tr>
            <td><p class="card-text mb-0">Nombre:</p></td>
            <td><span class="badge badge-secondary">{{ infoUsuario?.nombreUsuario }}</span></td>
          </tr>
          <tr>
            <td><p class="card-text mb-0">Es Doctor: </p>        </td>
            <td><span class="badge badge-secondary">{{ infoUsuario?.isDoctor == 'True' ? 'Si' : 'No' }}</span></td>
          </tr>
          <tr>
            <td><p class="card-text mb-0">Es Administrador:  </p></td>
            <td><span class="badge badge-secondary">{{ infoUsuario?.isAdmin == 'True' ? 'Si' : 'No' }}</span></td>
          </tr>
        </table>
      </div>
    </div>
    <app-menu></app-menu>
  </mat-drawer>
  <ng-content></ng-content>
  <button type="button" class="btn btn-sm btn-info menu-button" (click)="drawer.toggle()"><i class="fa fa-bars"></i></button>
</mat-drawer-container>