.gine-drawer {
    width: 300px;
}

.menu-button {
    top: 15px;
    left: 20px;
}

.info-box {
    height: 200px;
}
.gine-card {
    border-radius: 0 !important;
}

.user-thumbnail {
    position: relative; transform: translateY(-10%);
}

.user-thumbnail img {
    width: 80px; 
    border-radius: 50%; 
    position: relative; 
    border: 2px solid white;
}

.user-icon {
    border-radius: 50%;
}